:root{
    --vermelho:#E50914;
    --preto:#141414;
    --verde:#009c3b;
    --amarelo:#ffdf00;
    --azul:#3374f7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base */
body{
    background-color: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}


header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin: 5px;
    color: var(--verde);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

header nav a{
    text-decoration: none;
    color: var(--amarelo);
    margin-right: 10px;
}

header nav a:hover{
    color: var(--azul);
}


/*Filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url('/img/sob-pressao-capa2.jpeg');
    
    height: 400px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.filme-principal .container{
    margin-left: 20px;
    width: 70%;
}

.filme-principal .titulo{
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.botao{
    background-color: rgba(0, 0, 0,.50);
    color: white;

    padding: 15px 30px;
    margin-right: 8px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    border-color: rgb(0, 0, 0);
    color: black;
}
.botao i{
    margin-right: 8px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes{

    margin-top: 5px;

}